{% extends 'tienda/base.html' %}
{% load static %}



{% block contenido %}
    <h1> Acerca de mi</h1>  
    <p> MI nombre es Cristian Gustavo Gresia</p>
    <p>La pagina se creo con el proposito de brindar un servicio a </p>
        <P>
        los administradores de consorcios y cumplir con las normas impuestas por 
        el Gobierno de la ciudad de Buenos Aires </P>
    
   <p>FECHA DE CREACION DE LA PAGINA NOVIEMBRE 2024 </p>
    
    <a href = "{% url "tienda:index" %}"> <h1> Inicio </h1> </a>
{% endblock contenido %}