{% extends 'tienda/base.html' %}

{% block contenido %}
    <form method="post">

        <h1>Consorcio - Vista en detalle</h1>
        {% csrf_token %}
        {{form.as_p}}
            <ul>
                <li> <strong>Clave del Consorcio: </strong>{{object.clave_del_consorcio}}</li> 
                <li> <strong>Domicilio: </strong>{{object.domicilio}}</li> 
                <li> <strong>Localidad: </strong>{{object.localidad}}</li>  
                <li> <strong>Provincia: </strong>{{object.provincia}}</li> 
                <li> <strong>Cuit: </strong>{{object.cuit}}</li>                   
            </ul>

           <a href = "{% url "tienda:consorcio_list" %}"><h1 style="color: blue; text-align: center;">Volver</h1></a>

    </form>
{% endblock contenido %}