{% extends 'tienda/base.html' %}

{% block contenido %}
    <h1>Lista de consorcios</h1>
<form method="get"> 
    <input type="text" name="busqueda" placeholder="Buscar...."> </input>

</form>


        <a href="{% url 'tienda:consorcio_create' %}"><button>Agregar</button></a>
        <a href = "{% url "tienda:index" %}"> <h1> Inicio </h1> </a>
    <table border="2"; style = "color: brown; text-align: justify;" >
        <thead>
            <tr>
                <th style = "color:black; text-align: center;"> Consorcios </th>
                <th style = "color:black; text-align: center; "> Acciones </th>
            </tr>
        </thead>
        <tbody>
            {% for domicilio  in object_list %}
                <tr>
                    <td>{{domicilio}}</td>
                    <td> <a href="{% url 'tienda:consorcio_detail' domicilio.id %}">
                        <button>Ver</button>
                    <td> <a href="{% url 'tienda:consorcio_update' domicilio.id %}">
                        <button>Editar</button>
                        <td> <a href="{% url 'tienda:consorcio_confirm_delete' domicilio.id %}">
                            <button>Eliminar</button>
                    </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td> No hay datos disponibles. </td>
                </tr>
            {% endfor %}
    
        </tbody>
        </table>
{% endblock contenido %}

