{% extends 'tienda/base.html' %}

{% block contenido %}
<div class="container">
    <h1 class="text-center mb-4">Consorcio - Vista en detalle</h1>
    
    <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Clave del Consorcio: </strong>{{object.clave_del_consorcio}}</li> 
                <li class="list-group-item"><strong>Domicilio: </strong>{{object.domicilio}}</li> 
                <li class="list-group-item"><strong>Localidad: </strong>{{object.localidad}}</li>  
                <li class="list-group-item"><strong>Provincia: </strong>{{object.provincia}}</li> 
                <li class="list-group-item"><strong>Cuit: </strong>{{object.cuit}}</li>                   
            </ul>
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'tienda:listar_gastos' object.pk %}" class="btn btn-primary me-2">
            <i class="fas fa-money-bill"></i> GASTOS
        </a>
        <a href="{% url 'tienda:descargar_pdf' object.pk %}" class="btn btn-success me-2">
            <i class="fas fa-file-pdf"></i> DATOS (PDF)
        </a>
        <a href="{% url 'tienda:consorcio_list' %}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Volver
        </a>
    </div>
</div>
{% endblock contenido %}