{% extends 'tienda/base.html' %}

{% block contenido %}
    <h1>Lista de Liquidaciones</h1>
    <a href="{% url 'tienda:liquidacion_create' %}"><button>Crear Liquidaciones</button></a>
    <a href="{% url 'tienda:index' %}"><h1>Inicio</h1></a>
    
    <table border="2" style="color: brown; text-align: justify;">
        <thead>
            <tr>
                <th style="color:black; text-align: center;">Liquidaciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
                {% for consorcio in object_list %}
                <tr>
                    <td>{{ consorcio }}</td>
                    <td>{{ consorcio.periodo }}</td>
                    <td>
                        <a href="{% url 'tienda:liquidacion_detail' consorcio.id %}">
                            <button>Ver</button>
                        </a>
                        <a href="{% url 'tienda:liquidacion_update' consorcio.id %}">
                            <button>Editar</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">No hay datos disponibles.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock contenido %}
