{% extends 'tienda/base.html' %}

{% block contenido %}
<h1>Lista de Consorcios</h1>

<!-- Botón para agregar una nueva liquidación -->
<a href="{% url 'tienda:liquidacion_create' %}">
    <button>Agregar Liquidación</button>
</a>

<!-- Menú desplegable -->
<div class="dropdown">
    <button class="dropdown-button">Otros Consorcios</button>
    <ul class="dropdown-menu">
        {% for consorcio in otros_consorcios %}
            <li><a href="{% url 'tienda:consorcio_detail' consorcio.pk %}">{{ consorcio.domicilio }}</a></li>
        {% endfor %}
    </ul>
</div>

<table border="2" style="color: brown; text-align: justify;">
    <thead>
        <tr>
            <th style="color:black; text-align: center;">Consorcios</th>
            <th>Última Liquidación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
            {% for consorcio in object_list %}
            <tr>
                <!-- Cada consorcio será un enlace a su vista detallada -->
                <td>
                    <a href="{% url 'tienda:consorcio_detail' consorcio.id %}">
                        {{ consorcio.domicilio }}
                    </a>
                </td>
                
                <!-- Mostrar última liquidación (si existe) -->
                <td>
                    {% with consorcio.liquidacion_set.last as ultima_liquidacion %}
                        {% if ultima_liquidacion %}
                            <a href="{% url 'tienda:liquidacion_detail' ultima_liquidacion.pk %}">
                                {{ ultima_liquidacion.periodo }}
                            </a>
                        {% else %}
                            No hay liquidaciones
                        {% endif %}
                    {% endwith %}
                </td>
                    <!-- Botón para agregar una nueva liquidación al consorcio -->
                    <a href="{% url 'tienda:liquidacion_create' consorcio.id %}">
                        <button>Agregar Liquidación</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">No hay consorcios disponibles.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock contenido %}
