{% extends 'tienda/base.html' %}

{% load static %}

{% block contenido %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>
    <h1> CG-GESTICON</h1>

    <h2>Bienvenidos a la plataforma <br> para administradores de consorcios</h2>
    <form method="post">
        {% csrf_token %}
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Iniciar Sesión</button>
    </form>
    <p>
        ¿no tienes una cuenta? <a href="{% url 'tienda:register' %}">  Registrese aqui !</a>

    </p>
    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>
{% endblock contenido %}